
.title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  color: var(--white-text-color);
  width: 360px;
  padding-bottom: 30px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 44px;
    line-height: 1.37;
    width: 696px;
  }
}
  
  .title-box {
    list-style: none;
    text-align: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }