.modal-form-input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    padding: 12px 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-icon-input {
    position: absolute;
    top: 75%;
    transform: translateY(-75%);
    left: 15px;
    width: 18px;
    height: 18px;
    fill: var(--description-color);
  }
  
  .modal-form-input:focus {
    outline: none;
    border-color: var(--active-1-color);
  }
  
  .modal-form-input:focus + .modal-icon-input {
    fill: var(--active-1-color);
  }
  
  .modal-form-input:focus:not(:placeholder-shown):valid {
    outline: none;
    border-color: green;
  }
  
  .modal-form-input:focus:not(:placeholder-shown):invalid {
    outline: none;
    border-color: red;
  }

  .modal-form-span {
    color: var(--description-color);
    position: relative;
  }
  
  .modal-form-span + .modal-form-span {
    margin-top: 10px;
  }