  .project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--normal-color);
  }
  
  .project-subtitle {
    font-size: 16px;
    line-height: 1.9;
    color: var(--description-color);
  }