.logo3 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--active-1-color);
    text-decoration: none;
    display: inline-block;
  }
  
  .logo4 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    display: inline-block;
    color: var(--white-text-color);
  }