:root {
  --normal-color: #212121;
  --description-color: #757575;
  --active-1-color: #2196f3;
  --active-2-color: #188ce8;
  --background-color: #2f303a;
  --contact-color: #999999;
  --white-text-color: #ffffff;
  --top-line-color: #ececec;
  --bg-team-color: #f5f4fa;
  --bg-card-port-color: solid #eeeeee;
  --icon-color-1: #afb1b8;
  --icon-color-2: rgba(255, 255, 255, 0.1);
}
