.subject-img-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: var(--white-text-color);
    padding-top: 27px;
    padding-bottom: 27px;
    text-transform: uppercase;
  }