.team-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  .team-subtitle {
    font-size: 16px;
    line-height: 1.2;
    color: var(--description-color);
  }