.feature-title {
    text-transform: uppercase;
    border: 1px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
  }

@media screen and (max-width: 767px) {
  .feature-title {
    text-align: center;
    }
  
}

  .feature-subtitle {
    border: 1px;
    font-size: 14px;
    line-height: 1.7;
    color: var(--description-color);
  }
